.idea/
.gradle/
sales-core/build/
sales-report/build/
sales-datasource/build/
sales-application/build/
sales-web/build/
/sales-usecases/build/
/sales-core-mock/build/
/sales-utils/build/
/sales-adapters/datasources/build/
/sales-adapters/presentations/build/
/sales-adapters/reports/build/
/applications/sales-usecases/build/
/sales-domains/sales-core/build/
/sales-domains/sales-core-mocks/build/
/models/core/build/
/models/asoview/build/
/models/ticket/build/
/adapters/asoview-datasources/build/
/adapters/controllers/build/
/adapters/ticket-datasources/build/
/adapters/reports/build/
/adapters/presentations/build/
/adapters/datasources/build/
/applications/usecases/build/
